= link_to 'Add User', new_user_path,class: 'btn btn-sm btn-default'
%br/
%br/
%table.table
  - @users.each do |u|
    %tr
      %td="#{u.name} #{u.surname}"
      %td= link_to 'Show',user_path(u), class: 'btn btn-sm btn-default'
      %td= link_to 'Edit', edit_user_path(u), class: 'btn btn-sm btn-default'
      %td= link_to 'Destroy', user_path(u),                    |
          method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' |
= link_to 'Back to Home', root_path, class: 'btn btn-sm btn-default'