
<h1>Users Details</h1>

<p>
    <strong><%= @user.name %> <%= @user.surname %></strong>
    <%=link_to 'Destroy', user_path(@user),  method: :delete, data: { confirm: 'Are you sure?' }  %>
</p>

<p>
  <%= @user.email %>
</p>

<p>
  <%= @user.bio %>
</p>




<h1>Add new tweet this user</h1>

<p>

  <%= form_for([@user, @tweet]) do |f| %>
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.submit %>
    </p>
    <%end%>
</p>


<h1> User Tweets</h1>

<% @user.tweets.each do |tweet| %>

    <p>
      <%= tweet.created_at %> <br>
      <strong><%= tweet.text %></strong>
    </p>

    <%= link_to 'Destroy Tweet', [tweet.user, tweet],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<% end %>





<%= link_to 'Back to Home', users_path %>
